<div class="long-title">
  <h3>BIT BHA & MUD</h3>
</div>
<div id="form-container">
  <dx-form id="form" #myform>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item itemType="group" caption="BIT DATA">
        <lib-custom-form classNameStr="{{formClass}}" colNumber="{{colNum}}" [actionsVisible]="false"
                         [handlerInstantition]="classInst"></lib-custom-form>
      </dxi-item>
      <dxi-item itemType="group" caption="LAST BHA">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="dataSource"
          [columnAutoWidth]="true"
          [showBorders]="true"
          [repaintChangesOnly]="true">

          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-editing
            mode="batch"
            [allowUpdating]="true"
            [allowAdding]="true">
          </dxo-editing>

          <dxi-column dataField="OD">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="TOOL TYPE">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="JTS NO">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="LENGTH">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
        </dx-data-grid>
      </dxi-item>
      <dxi-item itemType="group" caption="MUD CHECKS">
        <dx-tab-panel
          [dataSource]="mudChecks"
          [animationEnabled]="true"
        >
          <div *dxTemplate="let t of 'title'">
            <span>{{t.PanelName}}</span>
          </div>
          <div *dxTemplate="let product of 'mudTabs';">
            <dx-data-grid #gridComponent
                          [dataSource]="product.data"
                          [columnAutoWidth]="true"
                          [showBorders]="true"
                          [repaintChangesOnly]="true">
              <dxo-editing
                mode="batch"
                [allowUpdating]="true"
                [allowAdding]="true">
              </dxo-editing>

              <dxi-column dataField="item"></dxi-column>
            </dx-data-grid>
          </div>

        </dx-tab-panel>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" colCount="1" cssClass="second-group">
      <dx-button
        stylingMode="default"
        text="save"
        icon="check"
        type="default"
        validationGroup="formGroup"
        [useSubmitBehavior]="true"
        (onClick)="saveBitBhaMud($event)">
      </dx-button>
      <dx-button
        stylingMode="contained"
        text="clear"
        validationGroup="formGroup"
        (onClick)="myform.instance.resetValues()">
      </dx-button>
    </dxi-item>
  </dx-form>
</div>

