<div class="long-title">
  <h3>Personnel Data</h3>
</div>
<div id="form-container">
  <dx-form id="form"
           [colCount]="1">
    <dxi-item itemType="group" caption="FILL IN PERSONNEL">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        [columnAutoWidth]="true"
        [showBorders]="true"
        [repaintChangesOnly]="true">

        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing
          mode="row"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true"
        >
        </dxo-editing>

        <dxi-item *ngFor="let f of fields; index as i">
          <dxi-column [caption]="f" dataField="f">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
        </dxi-item>
      </dx-data-grid>
    </dxi-item>
  </dx-form>
</div>

<!--<button (click)="clickSend()" >TEST GET INFOS</button>-->
