.responsive-paddings{
  img{
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px grey;
  }
}
.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}


:host-context(.screen-x-small) .logos-container {


}
