<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
   <!-- <dx-responsive-box>
      <dxi-row [ratio]="1"></dxi-row>
      <dxi-col></dxi-col>
      <dxi-col [ratio]="0.7"></dxi-col>
      <dxi-item>
        <dxi-location
          [row]="0"
          [col]="0"
        ></dxi-location>
        <img src="assets/img/oil-platform-wallpaper-offshore-platform.jpg" alt="Wallpaper">
      </dxi-item>
      <dxi-item>
        <dxi-location
          [row]="0"
          [col]="1"
        ></dxi-location>
        <img src="assets/img/application-checking.jpg" alt="checklist">
      </dxi-item>
    </dx-responsive-box>-->
    <div class="logos-container">
    </div>
    <p>Welcome to <b>The SMARTEST SH DDR</b>!</p>
  </div>
</div>
